.conatiner{
    position: inherit;
}


.form-label{
    margin-left: 40px;
}

label {
    display: unset;
    flex-direction: row;
    text-align: center;
    width: 440px;
    line-height: 26px;
    margin-bottom: 10px;
    color:rgb(59, 57, 57);
  }
  
.button{
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 50%;
    
  }
.margin-left{
    margin-left: 80px !important;
}

h5{
    margin-top:30px; 
    margin-bottom: 30px;
    color:rgb(59, 57, 57);
} 
h2{
    color:rgb(59, 57, 57);
}
#sect1 {  
    height: 100%;  
    color: #fff;background-image: url("../../assets/images/cyber-security.jpg");  
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}   