<!DOCTYPE html>
<html lang="en">

<head>
    <title>Payment</title>
</head>

<body>
    <div id="sect1" class="container">
        <div class="text-center">
            <h2 style="margin-top: 10px;">Hurray , Your Payment Has Been Sucessfully Completed</h2>
        </div>
        <div style="margin-bottom: 20px;" class="header">
            <h5 style="margin-left: 10px;">Thank You For Choosing E-Protect , We Assure Our Committed Efforts Towards
                Your Policy. Please Find Your Policy Details Below. </h5>
        </div>
        <div style="clear:both;">&nbsp;</div>
        <form>
            <b>

                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Policy Number</th>
                            <th scope="col">Total Annual Premium</th>
                            <th scope="col">Policy Period</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">E-Policy</td>
                            <td scope="col"> <br> 3S548N23568925<br> </td>
                            <td scope="col"> <br> Rs.1564.68 <br> </td>
                            <td scope="col"> 2021-09-16 <br> to <br> 2022-09-16 </td>
                        </tr>
                    </tbody>
                </table>
            </b>
        </form>
        <div style="clear:both;">&nbsp;</div>
        <div style="margin-bottom: 20px;" class="header">
            <h5 style="margin-left: 10px;">Do You Consent To Recieve Email And Text Notification Based On Your Payment
                Schedule And Policy Timeline</h5>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
            <label class="form-check-label" for="inlineRadio1" >Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">No</label>
        </div>

        <div style="margin-bottom: 20px;" class="header">
            <h5 style="margin-left: 10px;">Thank You, You Will Recieve Email And Text Notification For Policy And
                Billing Notification </h5>
        </div>

        <!-- <div style="margin-bottom: 20px;" class="header">
            <h5 style="margin-left: 10px;">Thank You, You Will Not Recieve Email And Text Notification For Policy And
                Billing Notification </h5>
        </div> -->

        <div style="margin-bottom: 20px;" class="header">
            <h5 style="margin-left: 10px;">Note : Invoices Will Be Sent To The Already Saved Billing Address </h5>
        </div>

        <div class="text-center ">

            <a style="color: #fff; margin-top: 10px;" routerLink='/getQuote'>
                <button type="button" class="btn btn-secondary btn-sm col-xs-2 margin-left">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Home
                </button></a>

            <a style="color: #fff; margin-top: 10px;" routerLink='/downloadPolicy'>
                <button type="button" class="btn btn-secondary btn-sm col-xs-2 margin-left">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Download Policy </button> </a>
        </div>
    </div>
</body>

</html>