.conatiner{
    position: inherit;
}


.form-label{
    margin-left: 40px;
}

label {
    width:300px;
    clear:left;
    text-align:right;
    padding-right:10px;
    color:rgb(59, 57, 57);
}

.button {
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 50%;
    
  }

.margin-left{
    margin-left: 80px !important;
}

h3{
    margin-top:10px; 
    margin-bottom: 10px;
    color:rgb(59, 57, 57);
} 
h2{
    color:rgb(59, 57, 57);
}

#sect1 {  
    height: 100%;  
    color: #fff;background-image: url("../../assets/images/bgimage.jpg");  
    background-attachment: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;
}   